$def with (producto)
<div class="container max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-sm">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900">Detalles del producto</h5>
    </div>
    <div class="flow-root">
        $for dato in producto:
        <ul role="list" class="divide-y divide-gray-200">
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate">Nombre del producto:</p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900">
                        $dato['nombre']
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate">Descripción:</p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900">
                        $dato['descripción']
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate">Precio:</p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900">
                        $dato['precio'] MXN
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate">Existencias:</p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900">
                        $dato['existencias']
                    </div>
                </div>
            </li>
            <li class="pt-3 pb-0 sm:pt-4">
                <div class="md:col-span-5 text-right">
                    <div class="inline-flex items-end">
                      <a href="/" class="btn btn-primary">Regresar</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
